@import 'color.scss';

* {
  padding: 0;
  margin: 0;
  // font-family: Helvetica Neue,Arial,Microsoft YaHei,sans-serif;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: auto;
}
img {
  border: none;
}


.btn,
.pointer {
  cursor: pointer;
}

input {
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

form {
  width: 96%;
  height: 100%;
  padding-left: 10px;

  input {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 100%;

    &::-webkit-input-placeholder {
      /* WebKit browsers */
      font-size: 13px;
      font-weight: 400;
      color: #727d9b;
    }

    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-size: 13px;
      font-weight: 400;
      color: #727d9b;
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10+ */
      font-size: 13px;
      font-weight: 400;
      color: #727d9b;
    }
  }
}

.whiteTheme {
  form {
    input {
      color: #222;

      &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #888;
      }

      &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #888;
      }

      &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #888;
      }
    }
  }
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  color: #6b6c6e;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

a:active {
  text-decoration: none;
}

ul {
  list-style: none;
  // padding-left: 0!important;
}

div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

i,
em {
  font-weight: normal;
  font-style: normal;
}

p {
  margin: 0 !important;
  // line-height: 20px!important;
}

input,
select,
button {
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.box-shadow {
  box-shadow: 0 0 10px #ddd;
  background-color: #fff;
}

.bor-radius {
  border-radius: 0.08rem;
}

.xiangxia {
  transform: rotate(180deg);
}

// flex布局常用
.flex,
.flexc,
.flex-column,
.flexa,
.flexb,
.flext,
.flex-column.sb {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

.flex-column {
  flex-direction: column;
}

.flex-column.sb {
  justify-content: space-between;
}

.flexc {
  justify-content: center;
}

.flext {
  justify-content: flex-start;
  align-items: flex-start;
}

.flexa {
  justify-content: space-around;
}

.flexb {
  justify-content: space-between;
}

.flexstart {
  align-items: flex-start !important;
}

.flexr {
  align-items: flex-end !important;
}

.flexe {
  justify-content: flex-end !important;
}

// 订单未读小圆点
.point {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  // background: $color-red;
  margin: 0px 0.08rem;
}

.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

p {
  // padding: .05rem 0px !important;
  line-height: 18px;
}

/*padding*/
.pt {
  padding-top: 15px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb {
  padding-bottom: 15px !important;
}

.pbx {
  padding-bottom: 10px !important;
}

.pbd {
  padding-bottom: 20px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl {
  padding-left: 15px !important;
}

.pld {
  padding-left: 25px !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pr {
  padding-right: 15px !important;
}

.prd {
  padding-right: 25px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.ptblrd {
  padding: 30px !important;
}

.ptbd {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.ptb {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.plr {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.plrz {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.plrd {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.mtcd {
  margin-top: 60px !important;
}

/*margin*/
.mt15 {
  margin-top: 15px !important;
}

.mt {
  margin-top: 10px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mb {
  margin-bottom: 10px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.ml {
  margin-left: 15px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.mld {
  margin-left: 25px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr {
  margin-right: 10px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mbx {
  margin-bottom: 10px !important;
}

.mbd {
  margin-bottom: 25px !important;
}

.mtf2 {
  margin-top: -2px !important;
}

.text-center {
  text-align: center;
}

.header {
  padding: 15px 15px 30px;

  img {
    // logo
    width: 125px;
  }

  .bottom {
    width: 50px;
  }
}
@media screen and (min-width: 750px) {
  // pc端
  .header {
    padding: 30px;
    // img{ // logo
    //   width: 125px;
    // }
    // .bottom{
    //   width: 50px;
    // }
  }

  .bottom {
    // display: none;
  }

  .top {
    // display: block;
  }
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  100% {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

.loadingBox {
  padding: 180px 0px;
  position: absolute;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  height: 100%;
  text-align: center;
  justify-content: center;
}

.walletconnect-modal__mobile__toggle_selector,
.walletconnect-modal__mobile__toggle {
  display: none !important;
}

.walletconnect-qrcode__text {
  padding: 0px 0 20px;
}

.dialogBox {
  background: #fff;

  .boxTitle {
    padding: 15px 10px;
    background: linear-gradient(to top, #7c82f6, #4b55ce);
    font-weight: bold;
    font-size: 16px;
  }

  .boxMsg {
    padding: 15px 10px;
    color: #333;
  }

  .btnbox {
    padding: 10px;

    .cancel,
    .sure {
      padding: 5px 8px;
      border-radius: 5px;
      min-width: 80px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
    }

    .cancel {
      color: #666;
      background: #f5f5f5;
      border: 1px solid #ccc;
      margin-right: 10px;
    }

    .sure {
      background: linear-gradient(to top, #7c82f6, #4b55ce);
    }
  }
}

.btn.disable,
.btncss.disable {
  opacity: 0.4 !important;
  cursor: not-allowed !important;
  // color: #999 !important;
}

.approveLoading {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
  // color: #999 !important;
  color: RGBA(72, 96, 211, 0.6) !important;
}

.dialogTitle {
  background: #fff;
  padding: 20px 0;
  text-align: center;
  border-radius: 10px;
  color: #333;
  margin-bottom: -20px;
  position: relative;

  .dialogClose {
    color: #666;
    float: right;
    position: absolute;
    right: 8px;
    top: 8px;

    .v-icon {
      color: #666;
    }
  }
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-align-center {
  align-items: center;
}
.flex-align-start {
  align-items: start;
}
.flex-align-end {
  align-items: flex-end;
}
.flex-jus-between {
  justify-content: space-between;
}
.flex-jus-center {
  justify-content: center;
}
.flex-jus-around {
  justify-content: space-around;
}
.flex-jus-end {
  justify-content: flex-end;
}
.fontb {
  font-weight: bold;
}

.no-wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.no-wrap-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.no-wrap-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.no-wrap-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.w-100 {
  width: 100%;
}
.curPoint {
  cursor: pointer;
}
.wPre-wrap {
  white-space: pre-wrap;
}

.dialogC {
  position: relative;
  .dialogC-close {
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    z-index: 2;
  }
}

// vuetify 组件全局修改
.v-btn--is-elevated {
  box-shadow: none;
}
.theme--light.v-btn.v-btn--disabled {
  color: #fff !important;
}
.theme--light.v-btn.v-btn--disabled.v-btn--has-bg {
  background: #adadad !important;
}

.pagesbox {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  // justi
  .custom-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    * {
      box-sizing: border-box;
    }

    a.prev-page,
    a.next-page {
      display: block;
      width: 14px;
      height: 14px;
      line-height: 0;
      background-color: #fff !important;
      border: 1px solid #fff !important;
      cursor: pointer;
      color: #666;
      text-decoration: none;

      img {
        width: 100%;
      }
    }

    a.prev-page {
      margin-right: 10px;
    }

    a.next-page {
      margin-left: 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      height: 28px;
      align-items: center;
      justify-content: center;

      li {
        display: inline-block;
        font-size: 14px;
        min-width: 30px;
        padding: 0 10px;
        margin-left: 10px;
        background-color: #fff !important;
        border: 1px solid #fff !important;
        color: #303133;
        cursor: pointer;
        vertical-align: top;
      }
      li:first-child {
        margin-left: 0;
      }

      li.current-page {
        font-size: 16px;
        background-color: #fff !important;
        // color: #feb75e;
        color: rgba(28, 29, 255, 1);
        border: 0;
      }
    }

    .page-to {
      display: none;
    }
  }
}

.v-input--selection-controls__ripple {
  display: none;
}

.vuetifyToastSnackbar {
  background: #fff !important;
  color: #000 !important;
  border-radius: 15px;
}

.hover-blue:hover {
  cursor: pointer;
  color: #669AE9 !important;
}