
$material-light: (
  'background': #fff,
);

$rounded: (
  'lg': 12px,
);

// $btn-font-weight: 900;
$btn-border-radius: 9px;
$btn-text-transform: none;

$material-dark: (
  'background': #050f10,
);


$tooltip-opacity: 1;